absl-py==0.1.6
adium-theme-ubuntu==0.3.4
args==0.1.0
backports.functools-lru-cache==1.4
backports.shutil-get-terminal-size==1.0.0
backports.weakref==1.0.post1
bleach==3.1.4
ccsm==0.9.12.3
certifi==2018.1.18
chardet==3.0.4
click==6.7
clint==0.5.1
compizconfig-python==0.9.12.3
configparser==3.5.0
contextlib2==0.5.5
cycler==0.10.0
decorator==4.0.6
Django==1.11.29
entrypoints==0.2.3
enum34==1.1.6
floyd-cli==0.10.33
funcsigs==1.0.2
functools32==3.2.3.post2
future==0.16.0
futures==3.2.0
html5lib==0.99999999
idna==2.6
ipykernel==4.7.0
ipython==5.5.0
ipython-genutils==0.2.0
ipywidgets==7.0.5
Jinja2==2.8
jsonschema==2.6.0
jupyter==1.0.0
jupyter-client==5.1.0
jupyter-console==5.2.0
jupyter-core==4.4.0
Keras==2.1.2
Markdown==2.6.10
MarkupSafe==0.23
marshmallow==2.15.1
matplotlib==2.1.0
mistune==0.8.3
mock==2.0.0
nbconvert==5.3.1
nbformat==4.4.0
nltk==3.4.5
notebook==6.1.5
np-utils==0.5.4.0
numpy==1.13.3
pandas==0.21.0
pandocfilters==1.4.2
pathlib2==2.3.0
pbr==3.1.1
pexpect==4.0.1
pickleshare==0.7.4
prompt-toolkit==1.0.15
protobuf==3.5.0.post1
ptyprocess==0.5
pycurl==7.43.0
Pygments==2.2.0
pygobject==3.20.0
PyMySQL==0.7.2
pyparsing==2.2.0
python-apt==1.1.0b1+ubuntu0.16.4.1
python-dateutil==2.6.1
pytz==2018.3
PyYAML==5.1
pyzmq==15.2.0
qtconsole==4.3.1
raven==6.6.0
requests==2.20.0
requests-toolbelt==0.8.0
scandir==1.6
scikit-learn==0.19.1
scipy==1.0.0
simplegeneric==0.8.1
six==1.11.0
subprocess32==3.2.7
tabulate==0.8.2
tb-nightly==1.5.0a20171212
terminado==0.8.1
testpath==0.3.1
tf-nightly==1.5.0.dev20171212
tornado==4.2.1
traitlets==4.3.2
unity-lens-photos==1.0
urllib3==1.24.2
virtualenv==15.1.0
wcwidth==0.1.7
webencodings==0.5.1
Werkzeug==0.15.3
widgetsnbextension==3.0.8
